<h1>Nowa szansa arbitrażu na {{this.baseCurrency}}/{{this.counterCurrency}}</h1>
<b>Kup</b> na {{this.buyExchange}} za {{this.buyPrice}}
<b>Sprzedaj</b> na {{this.sellExchange}} za {{this.sellPrice}}
<b>Profit</b> {{this.percentageProfit}}%